{% extends 'scanner/base.html' %}
{% load static %}

{% block content %}
<style>
    footer {
      
      background-color: #d3d0d0; 
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;
      height:100px;
      color:black;
  } 
  .footer {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  text-align: center;
  padding: 15px 0 ;
  background-color: #d3d0d0; /* match your style */
}

.footer-line {
  white-space: nowrap;
}

  footer a {
      color: #3478d4;
      text-decoration: none;
  }

  footer .social-icons a {
      margin-left: 12pf;
      font-size: 18px;
  }
  
  footer .social-icons a {
      margin-left: 12px;
      color: #555;
      font-size: 18px;
  }
  #foo1{
    padding-right:400px;
  }
    /* footer {
        background-color:hsl(0, 9.80%, 90.00%);
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    footer a {
        color: #3478d4;
        text-decoration: none;
    }

    footer .social-icons a {
        margin-left: 12px;
        color: #555;
        font-size: 18px;
    }

    footer .social-icons a:hover {
        color: #3478d4; */
    
    #but{
        color: #3478d4;
        font-size:20px;
    }
    .para{
        opacity: 0.60;
        font-size:20px;
    }
    h2{
        opacity: 0.60;
        font-size:40px;
    }
    @media (max-width: 600px) {

    .footer {
    flex-direction: column;
    gap:5px;
    font-size: 16px;
  }
  #foo1{
    padding-right:0;
}
}    
</style>
<div style="text-align:center; padding:30px;">
    <h2>Sorry about that...</h2>
    <br>
    <p class="para">{{ error }}</p>
    {% comment %} <img src="{% static 'scanner/images/error_page.png' %}" alt="Error Image" style="max-width:600px; margin-top:20px;"> {% endcomment %}
    <br><br>
    <a href="{% url 'scanner:index' %}" class="btn btn-primary"id="but"><b>Go Back</b></a>
</div>
<footer>
    <div class="footer">
        <div class="footer-line" id="foo1">
          A <a href="https://snyk.io">snyk.io</a> project - 
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
        </div>
        <div class="footer-line"id2="foo2">
          Powered by <a href="https://probely.com">Snyk </a>  
        </div>
      </div>
  </footer>
{% endblock %}
